/* Custom Card Styles */
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    object-fit: cover;
    height: 250px; /* Adjust height as needed */
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Custom Button Styles */
.btn-primary {
    background-color: #f8c400;
    border: none;
}

.btn-primary:hover {
    background-color: #d5a000;
}
